body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .clist{
  display: flex;
  flex-wrap: wrap;
  
}
.itemslist{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  min-width: 250px;
}
.form-field{
  text-align: center;
} */
.countries-list{
  & .form-field{
    text-align: center;
  }
  & .clist{
    display: flex;
    flex-wrap: wrap;
    
    & .itemslist{
      list-style-type: none;
      margin: 10px;
      padding: 10px;
      border: 1px solid grey;
      min-width: 250px;
    }
  }
}